{% extends 'enigmas/base.html' %} {# Usa il tuo base template #}

{% block title %}Password Cambiata{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="alert alert-success text-center shadow-sm" role="alert">
            <h4 class="alert-heading">Password Cambiata!</h4>
            <p>La tua password è stata cambiata con successo.</p>
            <hr>
            <a href="{% url 'my_profile' %}" class="btn btn-secondary">Torna al Profilo</a>
        </div>
    </div>
</div>
{% endblock %}