{# templates/account/password_reset_from_key_done.html #}
{% extends "enigmas/base.html" %}
{% load i18n %}

{% block title %}{% trans "Password Reimpostata" %}{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="alert alert-success text-center shadow-sm" role="alert">
            <h1 class="alert-heading h4">{% trans "Password Reimpostata" %}</h1>
            <p>{% trans "La tua password è stata cambiata con successo." %} {% if user.is_authenticated %} {% else %} {% trans "Ora puoi fare il login." %}{% endif %}</p>
             <hr>
            <a href="{% url 'account_login' %}" class="btn btn-primary">{% trans 'Login' %}</a>
        </div>
    </div>
</div>
{% endblock %}