{# templates/account/password_reset_from_key.html #}
{% extends "enigmas/base.html" %}
{% load i18n %}

{% block title %}{% trans "Imposta Nuova Password" %}{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-7 col-lg-5">
        <div class="card shadow-sm">
            <div class="card-body p-4">
                <h1 class="card-title text-center h3 mb-4">{% if token_fail %}{% trans "Link Non Valido" %}{% else %}{% trans "Imposta Nuova Password" %}{% endif %}</h1>

                {% if token_fail %}
                    <div class="alert alert-danger" role="alert">
                        {% blocktrans %}Il link per il reset password non è valido o è scaduto.{% endblocktrans %}
                    </div>
                    <p><a href="{% url 'account_reset_password' %}">{% trans 'Richiedi un nuovo reset password' %}</a></p>
                {% else %}
                    {% if form %}
                        <form method="POST" action="{{ action_url }}" class="password_reset_from_key">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-primary w-100 mt-3" name="action">{% trans "Cambia Password" %}</button>
                        </form>
                    {% else %}
                         {# Teoricamente non dovrebbe succedere se il link è valido #}
                        <p>{% trans 'La tua password è stata già reimpostata.' %}</p>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}