{# templates/account/password_reset_done.html #}
{% extends "enigmas/base.html" %}
{% load i18n %}
{% load account %}

{% block title %}{% trans "Reset Password Inviato" %}{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="alert alert-success text-center shadow-sm" role="alert">
            <h1 class="alert-heading h4">{% trans "Reset Password Inviato" %}</h1>
            {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
            <p>{% blocktrans %}Ti abbiamo inviato un'email. Se non la trovi, controlla la cartella spam.{% endblocktrans %}</p>
            <hr>
            <a href="{% url 'account_login' %}" class="btn btn-secondary btn-sm">Torna al Login</a>
       </div>
    </div>
</div>
{% endblock %}