{# templates/account/password_change.html #}
{% extends "enigmas/base.html" %}
{% load i18n %}

{% block title %}{% trans "Cambia Password" %}{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-7 col-lg-5">
        <div class="card shadow-sm">
            <div class="card-body p-4">
                <h1 class="card-title text-center h3 mb-4">{% trans "Cambia Password" %}</h1>
                <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary w-100 mt-3" name="action">{% trans "Cambia Password" %}</button>
                     <div class="text-center mt-3">
                        <a href="{% url 'my_profile' %}" class="text-decoration-none">Annulla</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}