{# templates/account/password_reset.html #}
{% extends "enigmas/base.html" %}
{% load i18n %}
{% load account %}

{% block title %}{% trans "Reset Password" %}{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-7 col-lg-5">
        <div class="card shadow-sm">
            <div class="card-body p-4">
                <h1 class="card-title text-center h3 mb-4">{% trans "Reset Password" %}</h1>

                {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %} {# Messaggio standard allauth #}
                {% endif %}

                <p class="text-center text-body-secondary mb-4">{% blocktrans %}Hai dimenticato la password? Inserisci la tua email qui sotto e ti invieremo le istruzioni per impostarne una nuova.{% endblocktrans %}</p>

                <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary w-100 mt-3">{% trans "Invia Istruzioni" %}</button>
                </form>

                 <div class="text-center mt-3">
                     <a href="{% url 'account_login' %}" class="text-decoration-none">Torna al Login</a>
                 </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}